$bg-color: rgb(250, 246, 236);
$main-green: lighten(#58B881, 10%);

$container: "(max-width: 1000px)";
$one-column: "(max-width: 850px)";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: $bg-color;
	font-family: 'Josefin Sans', sans-serif;
	color: #555;
  border-top: 3px solid $main-green;
	height: 100%;
}

.container {
	padding-top: 2em;
	width: 85%;
	margin: 0px auto;	
	
	@media #{$container} {
		width: 92%;
	}
}

section {
	margin-bottom: 1em;

	&#title {

		h1 {
			font-size: 3em;
			font-weight: 300;
			color: $main-green;
			text-align: center;
		}
	}

	&#main-info {
		font-size: 1.2em;

		#fullname {
			font-weight: 300;
			margin-bottom: .3em;
		}

		.email {
			margin-top: .5em;
			color: #777;
		}
	}

	&#content {
		font-size: 1.1em;
		margin: 0;

		&>div {
			width: calc(50% - 2px);
			float: left;
			padding: 7px 20px 7px 20px;

			.item {
				margin-bottom: .5em;
			}

			&:first-child {
				border-right: 1px solid #aaa;
				padding-left: 0px;
			}

			@media #{$one-column} {
				float: none;
				width: 100%;
				padding: 0px;
				border: none !important;
			}
		}

		.info-container {
			margin: 0 0 .8em 0; 

			@media #{$one-column}{
				margin: 1.7em 0 .8em 0; 

			}

			h3 {
				text-transform: uppercase;
				font-size: .87em;
				letter-spacing: .05em;
				font-weight: 400;
				margin-bottom: 0.8em;
			}

			p {
				line-height: 1.5em;
				text-align: justify;

				&.date {
					// text-align: right;
					font-weight: 300;
					letter-spacing: 1px;
					font-size: .9em;
				}
			}

			.social-btn {
				width: 2.5em;
				margin-right: .6em;

				&:hover {
					cursor: pointer;
				}
			}
		}

	}
}

.underline-trace {
	position: relative;

	&:before {
		content: " ";
		position: absolute;
		top: 1.2em;
		left: 0;
		width: 3em;
		border-bottom: 2px solid lighten($main-green, 15%);
	}
}

a {
	text-decoration: none;

	&:link,
	&:active,
	&:visited{
		color: darken($main-green, 10%);
	}

	&:hover {
		color: $main-green;
	}
}

.spacer {
	clear: both;
	height: 3em;
}