$bg-color: rgb(250, 246, 236);
$main-green: #58B881;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: $bg-color;
	font-family: 'Josefin Sans', sans-serif;
	color: #555;
  border-top: 3px solid $main-green;
  border-bottom: 3px solid $main-green;
}

.container {
	padding-top: 2em;
	width: 85%;
	margin: 0px auto;	
}

section {
	margin-bottom: 1.2em;

	&#title {

		h1 {
			font-size: 3em;
			font-weight: 300;
			color: $main-green;
			text-align: center;
		}
	}

	&#main-info {
		font-size: 1.2em;

		#fullname {
			font-weight: 300;
			margin-bottom: .3em;
		}
	}

	&#content {
		font-size: 1.1em;

		&>div {
			width: calc(50% - 2px);
			float: left;
			padding: 7px 20px 7px 20px;

			.item {
				margin-bottom: .5em;
			}

			&:first-child {
				border-right: 1px solid #DDD;
				padding-left: 0px;
			}
		}

		h3 {
			text-transform: uppercase;
			font-size: .87em;
			letter-spacing: .05em;
			font-weight: 400;
			margin: .8em 0; 
		}

		p {
			line-height: 1.5em;
			text-align: justify;

			&.date {
				text-align: right;
				font-weight: 300;
				letter-spacing: 1px;
				font-size: .9em;
			}
		}

		.social-btn {
			width: 2.5em;
			margin-right: .8em;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

.underline-trace {
	position: relative;

	&:before {
		content: " ";
		position: absolute;
		top: 1.2em;
		left: 0;
		width: 3em;
		border-bottom: 2px solid $main-green;
	}
}
