$bg-color: white;
$main-green: lighten(#58B881, 10%);

$container: "(max-width: 1000px)";
$one-column: "(max-width: 850px)";
$medium: "(max-width: 700px)";
$small: "(max-width: 450px)";

$second-header-column-size: 110px;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: $bg-color;
	font-family: 'Josefin Sans', sans-serif;
	color: #333;
  border-top: 3px solid $main-green;
	height: 100%;
}

.container {
	padding-top: 2em;
	width: 85%;
	margin: 0px auto;	
	
	@media #{$container} {
		width: 90%;
	}
}

section {
	margin-bottom: 1em;

	&#title {

		h1 {
			font-size: 3em;
			font-weight: 300;
			color: $main-green;
			text-align: right;
		}
	}

	&#main-info {
		font-size: 1.2em;

		#fullname {
			font-weight: 300;
			margin-bottom: .5em;
		}

		.links-list {
			margin-top: .5em;
			color: #777;

			p:first-child {
				margin-bottom: .4em;
			}
		}
	}

	&#first {
		font-size: 1.1em;
		margin: 3em 0 2em 0;

		.summary-wrap {
			width: 80%;
			margin: 0 auto;

			@media #{$medium} { width: 85%; }
			@media #{$small} { width: 90%; }

			h3 {
				// text-transform: uppercase;
				font-size: 1.2em;
				letter-spacing: .05em;
				// font-weight: 400;
				margin-bottom: 0.8em;
			}
			p {
				line-height: 1.5em;
				text-align: justify;
				font-size: 1.1em;
			}
		}

	}

	&.items-list {
		clear: both;
		padding-top: 2em;

		&.right {
			h3 {
				float: right;	margin-right: $second-header-column-size;

				@media #{$medium} { margin-right: 0;}
			}
			.header-column {
				clear: both;
				float: right;
				padding-left: 1em;
				p {	text-align: left;	}
			}
			.info {
				float: right;

				p, h4 { text-align: right; }

				p{
					@media #{$small} { text-align: justify; }
				}
				p.hidden-date { text-align: right; }
			}
		}

		&.left {
			h3 {
				margin-left: $second-header-column-size;

				@media #{$medium} { margin-left: 0;	}
			}

			.header-column {
				padding-right: 1em;
				float: left;
				p {
					text-align: right;
				}
			}
			.info {
    	  float: left;
    	  p, h4 {
					text-align: left;
				}

				p{
					@media #{$small} { text-align: justify; }
				}
			}
		}

		h3 {
			// text-transform: uppercase;
			font-size: 1.4em;
			letter-spacing: .05em;
			// font-weight: 400;
			margin-bottom: 1em;
		}

		.header-column {
			@media #{$medium} {
				display: none;
			}

			width: $second-header-column-size;
    	
			p {
				color: #555;
				font-size: .9em;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding-top: .2em;

				&.date {
					padding-top: 0.7em;
				}
			}
		}
    .info {
    	width: calc(70% - #{$second-header-column-size});
			
			@media #{$one-column} {
				width: calc(90% - #{$second-header-column-size});
			}
			@media #{$small} {
				width: calc(100% - #{$second-header-column-size});
			}
			@media #{$medium} { /* no side column */
				width: 90%;
			}
			@media #{$small} {
				width: 100%;
			}

			h4 {
				font-size: 1.2em;
				margin-bottom: .3em;
			}

    	p {
    		font-size: 1.2em;
    	}

			p.hidden-date {
				display: none;
				color: #555;
				font-size: .9em;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding-bottom: .3em;
				@media #{$medium} { /* no side column */
					display: block;
				}
			}
    }

    .separator {
    	clear: both;
    	height: 1.3em;
    }

	}
}

.underline-trace {
	position: relative;

	&:before {
		content: " ";
		position: absolute;
		top: 1.1em;
		left: 0;
		width: 3em;
		border-bottom: 2px solid lighten($main-green, 15%);
	}
}

a {
	text-decoration: none;

	&:link,
	&:active,
	&:visited{
		color: darken($main-green, 10%);
	}

	&:hover {
		color: $main-green;
	}
}

.spacer {
	clear: both;
	height: 3em;
}